[submodule "modules/cuttlessl"]
	path = modules/cuttlessl
	url = https://github.com/openssl/openssl.git
[submodule "modules/protobuf"]
	path = modules/protobuf
	url = https://github.com/google/protobuf.git
[submodule "modules/grpc"]
	path = modules/grpc
	url = https://github.com/grpc/grpc.git
[submodule "modules/ffmpeg"]
	path = modules/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "modules/x264"]
	path = modules/x264
	url = https://github.com/mirror/x264.git
[submodule "modules/cuttle"]
	path = modules/cuttle
	url = git@github.com:amyznikov/cuttle.git
[submodule "modules/libpcl"]
	path = modules/libpcl
	url = git@github.com:amyznikov/libpcl.git
